#container {
    display: flex;
    flex-direction: column;
    margin: 2.5em 30em;
    gap: 1.5em;
}

.container_options ul {
    display: flex;
    flex-direction: row;
    height: 3em;
    width: 100%;
}

.container_options ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 10em;
    height: 100%;
    margin: 0 1em 0 0;
}

.container_options ul li button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
}

.container_items {
    background-color: #fff;
}

table {
    background-color: #fff;
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

thead {
    height: 3.5em;
    background-color: #F1F7ED;
}

thead tr {
    text-align: center;
}

thead tr td {
    padding: 0 1em;
}

tbody tr {
    height: 5em;
}

tbody tr td {
    padding: 0 1em;
}

tbody tr td:first-child {
    text-align: center;
}

tbody tr:nth-child(even) {
    background: rgb(250, 242, 242);
}

.container_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.pagination {
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}

.pagination li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.page-item {
    width: 2em;
    height: 2em;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.active {
    background-color: rgb(180, 138, 138);
    box-shadow: 1px 1px 1px rgba(0,0,0,0);
}