#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 35em 3em;
    margin: 2.5em 30em;
    gap: 1.5em;
}

.container_options ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.container_options ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #fff;
    width: 10em;
    height: 100%;
    margin: 0 1em 0 0;
}

.container_items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

table {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

thead {
    height: 2.5em;
    background-color: #F1F7ED;
}

thead tr {
    text-align: center;
}

thead tr td {
    padding: 0 1em;
}

tbody tr td {
    padding: 0 1em;
}

tbody tr td:first-child {
    text-align: center;
}

.container_pagination {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.pagination {
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li a {
    text-decoration: none;
}

.page-item {
    width: 2.5em;
    height: 2.5em;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.active {
    background-color: rgb(180, 138, 138);
    box-shadow: 1px 1px 1px rgba(0,0,0,0);
}